/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    padding: 20px;
}

/* Encabezado */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

header .logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

header h1 {
    font-size: 2rem;
}

/* Contenedor de categorías */
.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

/* Cada categoría */
.category {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.category img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Enlace de pie de página */

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.volver {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.volver:hover {
    text-decoration: underline;
}




/* Para pantallas de hasta 1024px */
@media (max-width: 1024px) {
    .hero-content {
        gap: 8px;
    }

    .nav-link {
        font-size: 17px;
    }

    .hero {
        padding: 15px;
    }
}

/* Para pantallas de hasta 768px */
@media (max-width: 768px) {
    .hero-content {
        gap: 5px;
    }

    .nav-link {
        font-size: 16px;
    }

    .main-nav {
        gap: 15px;
    }
}

/* Para pantallas de hasta 480px */
@media (max-width: 480px) {
    .main-nav {
        flex-direction: column;
        gap: 10px;
    }

    .hero img {
        width: 100px;
    }

    .nav-link {
        font-size: 14px;
        padding: 5px;
    }

    .hero {
        padding: 10px;
    }

    footer {
        font-size: 12px;
    }
}
